#calendar{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.row{
	stroke: black;
    stroke-width: 0.01;
	stroke-dasharray:0 0 0 1;
}

.box{
	width: 1px;
	height: 1px;
}

.nego{
	
}

.prov{
	
}