
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background: #16222a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #16222a, #323232); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #16222a, #323232);
}

#contentWrapper{
	position: relative;
	max-width: 1750px;
	margin-right: auto;
	margin-left: auto;
}

div{
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.2;
}

p{
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.2;
}

.textpara{
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 20px;
	border-left:0px solid #E8336D;
	background: white;
	opacity: 0.3;
	width: 80%;
}

#textWrapper{
	margin-left: 37.5%;
	margin-right: 2.5%;
	padding-left: 10%;
	padding-right: 10%;
    width: 40%;
    position: relative;
    
}

#calendarContainer{
	display: block;
    position: fixed;
    background: white;
    z-index: 5;
    font-family: "Helvetica Neue";
}

.tick text{
	shape-rendering:crispEdges;
}

.rightImage{
	position: absolute;
	border-radius: 50%;
	object-position: 50% 50%;
	object-fit: cover;
	background-color: white;
}
.leftImage{
	position: absolute;
	border-radius: 50%;
	object-position: 50% 50%;
	object-fit: cover;
	background-color: white;
}

#kor1{
	object-position: 0 0;
}

#tooltip{
	display: none;
	position: fixed;
	z-index: 6;
	background: white;
	height: auto;
	width: 30vw;
	min-width: 250px;
	max-width: 500px;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border:3px solid black;
	font-size: 12px;
	font-family: 'EB Garamond', serif;
}

#tooltipHeader{
	display: block;
	margin-bottom: 15px;
	font-size: 15px;
}

.tooltipNegotiation{
	margin-top: 10px;
}
.tooltipNegotiation:first-of-type{
	margin-top: 0px;
}

.tooltipType{

}

.tooltipDescription{
	font-size: 15px;
}

h1{
	font-size: 62px;
	text-align: center;
	font-family: 'Biryani', sans-serif;
	font-weight:800;
	color: white;
}

h2{
	font-size: 22px;
	text-align: center;
	font-family: 'Biryani', sans-serif;
	font-weight:800;
	color: white;
	margin-top: 25%;
	margin-bottom: 25%;
}

#section1{
	margin-top: 55vh;
}

#section2{

}

.contentParagraph{
	margin-top: 3%;
	margin-bottom: 3%;
	
}

.instructionsParagraph{
	margin-top: 25%;
	border-left:0px solid #E8336D;
	padding-left: 21px;
}


.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
}

:root {
	--annotation-color: #E8336D;
}

.annotation path {
	stroke: var(--annotation-color);
	fill: none;
	stroke-width:3px;
}

.annotation path.connector-arrow, 
.annotation path.connector-dot, 
.title text, .annotation text{ 
	fill: var(--annotation-color);
}

.annotation-connector path{
	stroke-width:1px;
}

.annotation-note path{
	stroke-width:1px;
}

.keyevents .annotation-subject{
	stroke-dasharray:9;
  	animation: slidein 5s infinite linear;
}

@keyframes slidein{
	from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.annotation-note-content rect{
	fill: white;
}

.annotation-note-title, text.title {
	font-size: 11px;
}

.annotation-note-label{
	font-size: 12px;
}

text.title {
	font-size: 12px;
}

.legendboxContainer{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.legendText{
	font-family: "Helvetica Neue";
	font-size:10px;
	display: inline-block;
    width: 80%;
	text-rendering: optimizeLegibility;
}

#legend{
	margin-bottom:5px;
}

#negoLegend{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#provLegend{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.box:hover{
	cursor: pointer;
}

.legendBox{
	width: 10px;
	height: 10px;
	display: inline-block;
}

.provocationColor{
	color: rgb(203, 24, 29);
}

.negotiationColor{
	color: rgb(33, 113, 181);
}


