#calendar{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#topAxis{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.row{
	
}

.box{
	width: 1px;
	height: 1px;
	stroke: black;
    stroke-width: 0.01;
}

.nego{
	stroke-dasharray: 0,3,1;
}

.prov{
	stroke-dasharray: 0,1,1,2;
}